@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');


header {
    font-family: 'Ramabhadra', bold; 
    font-size: 40px;
    text-align: center;
}

body {

background-image: url(https://static.roland.com/products/rc_juno-60/images/juno-60_filter.png);
background-position: ;
}