@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

h1 {
    font-family: 'Zen Dots'; 
    font-size: 60px;
    text-align: center;
    color:rgb(224, 204, 179)
}

h2 {
  font-family: 'Zen Dots'; 
    font-size: 20px;
    margin-left: 110px;
    margin-top:40px;
    color:rgb(224, 204, 179);
    visibility: hidden;
}

.board {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 300px;
    margin: 0 auto
   
}
.hidden {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden; /* Hide overflowing video */
  position: relative; /* Ensure proper stacking context */
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover entire viewport */
  z-index: -1; /* Place the video behind everything */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

button {
    font-family: 'Zen Dots'; 
    background-color:red;
    box-shadow: 0px 0px 50px red;
    border-radius: 5px;
    margin-top: -120px;
}

.cell {
    padding: 10px;
    background-color: #ccc;
    aspect-ratio: 1;
    place-items: center;
    border-radius: 4px ;
}

#tl{
    background-color:rgb(244, 184, 62);
    box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}


#tr{
    background-color:rgb(179, 42, 34);
    box-shadow: 0 0 0 1px rgb(179, 42, 34), 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgb(179, 42, 34), 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#bl{
    background-color: rgb(255, 114, 52);
    box-shadow: 0 0 0 1px rgb(255, 114, 52), 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgb(255, 114, 52), 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#br{
    background-color: rgb(36, 74, 181);
    box-shadow: 0 0 0 1px  rgb(36, 74, 181), 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0  rgb(36, 74, 181), 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

